<html>
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <title>Welcome Page </title>
 </head>
 <body>
   <style>
     body{
            background-image:url(challenge1.jpeg);
            background-position:center;
            background-size:100%;
          }
    #center{
            height:300px;
            width:500px;
            margin-top:120px;
            margin-left:auto;
            margin-bottom:50px;
            margin-right:auto;
            background:rgba(0,0,0,0.3);
           }
     #text{
            text-align:center;
            padding-top:20px;
            }
      #start{
            text-align:center;
      }
      .select{
            margin-left:100px;
            margin-right:100px;
            width:300px;
            height:50px;

           }
      .btn:hover{
            border:dotted 2px black;
            background-color:green;
          }
       .btn{
            width:400px;
            margin:auto;
      }
   </style>
     <div id="center">
       <h1 id="text">Balaji Building Material &Comp.</h2>
         <h3 id="start">Start with</h3>
        <a href="/login" class="btn btn-info btn-block" role="button">Login</a>
        <a href="/signin" class="btn btn-info btn-block" role="button">Singin</a>
       </div>
 </body>
</html>