<!DOCTYPE html>
<html>
    <head>
        

        <title>
            Order Placed
        </title>
    </head>
    <body>
        Order is successfully placed.</br/>
        You will receive a mail regarding your ordre shortly.

        <h1>Feedback</h1>
        <form method="POST" action="https://formspree.io/tushar.mittal6397@gmail.com">
            <textarea id="w3mission" rows="4" cols="50"></textarea>
            <input type="submit" value="submit"/>
            
        </form>
        
    </body>
</html>